@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'samsung';
    font-style: normal;
    font-weight: 00;
    font-display: swap;
    src: url('/fonts/samsung-app.woff2') format('woff2'),
         url('/fonts/samsung-app.woff') format('woff'),
         url('/fonts/samsung-app.ttf') format('truetype');  }
}

body {
  @apply !font-samsung;
}

a {
  background-color: transparent;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


@layer components {
  .header-icon_container {
    @apply inline-flex items-center justify-start h-full relative

  }

  .header-icon_container .icon-padding {
    @apply p-2 xl:p-[0.5555556vw]

  }

  .t-menu_button {
    @apply w-10 h-10 block p-2
  }

  .menu-link {
    @apply px-6 font-[16px] text-black hover:font-bold w-full flex items-center justify-start leading-10
  }
  .menu-line {
    @apply relative after:absolute after:bottom-4 after:left-6 after:right-6 after:h-[1px] after:bg-black after:opacity-20 after:block
  }
}