@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'samsung';
    font-style: normal;
    font-weight: 00;
    font-display: swap;
    src: url('/fonts/samsung-app.woff2') format('woff2'),
         url('/fonts/samsung-app.woff') format('woff'),
         url('/fonts/samsung-app.ttf') format('truetype');  }
}

body {
  @apply !font-samsung;
}

a {
  background-color: transparent;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


@layer components {
  .header-icon_container {
    @apply inline-flex items-center justify-start h-full relative

  }
  .header-icon_container .icon-padding {
    @apply p-2 xl:p-[0.5555556vw]

  }
  .t-menu_button {
    @apply w-10 h-10 flex items-center justify-center p-2
  }
  .menu-link {
    @apply px-6 text-[16px] text-black hover:font-bold w-full flex items-center justify-start leading-10
  }
  .menu-line {
    @apply relative after:absolute after:bottom-4 after:left-6 after:right-6 after:h-[1px] after:bg-black after:opacity-20 after:block
  }
  .menu-item_btn {
    @apply  !py-0 !px-6 justify-between
  }
  .menu-l1 {
    @apply  py-3 pl-6 pr-14 leading-6
  }

  
}

.menu-right_animation {
  -webkit-transition: right .3s cubic-bezier(0.6,0,0.4,1);
  transition: right .3s cubic-bezier(0.6,0,0.4,1);
}
.menu-opacity_animation {
  -webkit-transition: opacity .3s cubic-bezier(0.6,0,0.4,1);
  transition: opacity .3s cubic-bezier(0.6,0,0.4,1);
}
.menu-right_opacity_animation {
  -webkit-transition: opacity .3s cubic-bezier(0.6,0,0.4,1), right .3s cubic-bezier(0.6,0,0.4,1);
  transition: opacity .3s cubic-bezier(0.6,0,0.4,1), right .3s cubic-bezier(0.6,0,0.4,1);
}
.menu-width_animation {
  -webkit-transition: width .3s cubic-bezier(0.6,0,0.4,1), margin-left .3s cubic-bezier(0.6,0,0.4,1), margin-right .3s cubic-bezier(0.6,0,0.4,1);
  transition: width .3s cubic-bezier(0.6,0,0.4,1), margin-left .3s cubic-bezier(0.6,0,0.4,1), margin-right .3s cubic-bezier(0.6,0,0.4,1);
}
.menu-width_animation {
  -webkit-transition: width .3s cubic-bezier(0.6,0,0.4,1), margin-left .3s cubic-bezier(0.6,0,0.4,1), margin-right .3s cubic-bezier(0.6,0,0.4,1);
  transition: width .3s cubic-bezier(0.6,0,0.4,1), margin-left .3s cubic-bezier(0.6,0,0.4,1), margin-right .3s cubic-bezier(0.6,0,0.4,1);
}
.menu-opacity_visibility_animation {
  -webkit-transition: opacity .3s cubic-bezier(0.6,0,0.4,1) .2s, visibility .3s cubic-bezier(0.6,0,0.4,1) .2s;
  transition: opacity .3s cubic-bezier(0.6,0,0.4,1) .2s, visibility .3s cubic-bezier(0.6,0,0.4,1) .2s;
}





