@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'samsung';
    font-style: normal;
    font-weight: 00;
    font-display: swap;
    src: url('/fonts/samsung-app.woff2') format('woff2'),
         url('/fonts/samsung-app.woff') format('woff'),
         url('/fonts/samsung-app.ttf') format('truetype');  }
}

body {
  @apply !font-samsung;
}

a {
  background-color: transparent;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


@layer components {
  .header-icon_container {
    @apply inline-flex items-center justify-center h-full relative
  }
  .header-icon_container .icon-padding {
    @apply p-2 xl:p-[0.5555556vw]
  }
  .t-menu_button {
    @apply w-10 h-10 flex items-center justify-center p-2
  }
  .menu-link {
    @apply px-6 text-[16px] text-black hover:font-bold w-full flex items-center justify-start leading-10
  }
  .menu-line {
    @apply relative after:absolute after:bottom-4 after:left-6 after:right-6 after:h-[1px] after:bg-black after:opacity-20 after:block
  }
  .menu-item_btn {
    @apply  !py-0 !px-6 justify-between
  }
  .menu-l1 {
    @apply  py-3 pl-6 pr-14 leading-6
  }
  .category-link {
    @apply px-[0.5vw] group-hover:rounded-full group-hover:bg-black group-hover:text-white text-[14px] font-medium leading-[2.222222222222vw]
  }
  .category-container {
    @apply flex items-center justify-start relative h-full
  }
  .rounded-btn {
    @apply flex items-center justify-center whitespace-nowrap rounded-full text-[3.8889vw] md:text-[0.9722vw] leading-[5.27vw] md:leading-[1.31944vw] py-[2.777vw] md:py-[0.69444vw] px-[6.66vw] md:px-[1.66vw] 
  }
  .rounded-btn_white{
    @apply bg-white text-black hover:bg-[#ddd] hover:text-[#313131] 
  }
  .rounded-btn_black{
    @apply bg-black text-white hover:bg-[#555] hover:text-[#eee]
  }
  .underline-btn {
    @apply inline-flex justify-center items-center text-[3.8889vw] md:text-[0.9722vw] leading-[5.27vw] md:leading-[1.31944vw] py-[2.777vw] md:py-[0.69444vw] relative after:left-0 after:right-0 after:absolute after:bottom-[2.2222vw] after:h-[0.55vw] after:md:bottom-[0.55vw] after:md:h-[0.138vw] after:xl:bottom-2 after:xl:h-[2px] 
  }
  .underline-btn_white {
    @apply text-white after:bg-white
  }
  .underline-btn_black {
    @apply text-black after:bg-black
  }
  .h-s-btn {
    @apply w-[3.88vw] h-[3.88vw] 2xl:w-10 2xl:h-10 hidden md:flex items-center justify-center rounded-full bg-[rgba(0,0,0,0.3)] hover:bg-black transition-all transform duration-200 ease-in-out
  }
  .h-s-btn.position {
    @apply absolute  top-1/2 -translate-y-1/2 z-[11]
  }
  .h-s-btn .icon {
    @apply w-4 h-4 block text-white
  }
  .s-contaner {
    @apply w-full max-w-8xl relative mx-auto
  }
  .tab-line {
    @apply w-full h-[2px] bg-black;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tab-line-active {
    transform: scaleX(1);
  }

  .no-scrollbar {
    @apply overflow-auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* WebKit */
  }
}

.menu-right_animation {
  -webkit-transition: right .3s cubic-bezier(0.6,0,0.4,1);
  transition: right .3s cubic-bezier(0.6,0,0.4,1);
}
.menu-opacity_animation {
  -webkit-transition: opacity .3s cubic-bezier(0.6,0,0.4,1);
  transition: opacity .3s cubic-bezier(0.6,0,0.4,1);
}
.menu-right_opacity_animation {
  -webkit-transition: opacity .3s cubic-bezier(0.6,0,0.4,1), right .3s cubic-bezier(0.6,0,0.4,1);
  transition: opacity .3s cubic-bezier(0.6,0,0.4,1), right .3s cubic-bezier(0.6,0,0.4,1);
}
.menu-width_animation {
  -webkit-transition: width .3s cubic-bezier(0.6,0,0.4,1), margin-left .3s cubic-bezier(0.6,0,0.4,1), margin-right .3s cubic-bezier(0.6,0,0.4,1);
  transition: width .3s cubic-bezier(0.6,0,0.4,1), margin-left .3s cubic-bezier(0.6,0,0.4,1), margin-right .3s cubic-bezier(0.6,0,0.4,1);
}
.menu-width_animation {
  -webkit-transition: width .3s cubic-bezier(0.6,0,0.4,1), margin-left .3s cubic-bezier(0.6,0,0.4,1), margin-right .3s cubic-bezier(0.6,0,0.4,1);
  transition: width .3s cubic-bezier(0.6,0,0.4,1), margin-left .3s cubic-bezier(0.6,0,0.4,1), margin-right .3s cubic-bezier(0.6,0,0.4,1);
}
.menu-opacity_visibility_animation {
  -webkit-transition: opacity .3s cubic-bezier(0.6,0,0.4,1) .2s, visibility .3s cubic-bezier(0.6,0,0.4,1) .2s;
  transition: opacity .3s cubic-bezier(0.6,0,0.4,1) .2s, visibility .3s cubic-bezier(0.6,0,0.4,1) .2s;
}
.menu-visibility_animation {
  -webkit-transition: visibility .3s cubic-bezier(0.6,0,0.4,1) .2s;
  transition: visibility .3s cubic-bezier(0.6,0,0.4,1) .2s;
}
.menu-height_animation {
  -webkit-transition: height .2s cubic-bezier(0.6,0,0.4,1);
  transition: height .2s cubic-bezier(0.6,0,0.4,1);
}
.rounded-btn {
  -webkit-transition-property: color, background-color, border-color, border-bottom-color;
  transition-property: color, background-color, border-color, border-bottom-color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(0.33,0,0.3,1);
  transition-timing-function: cubic-bezier(0.33,0,0.3,1);
}

.underline-btn {
  -webkit-transition-property: color, background-color, border-color, border-bottom-color;
  transition-property: color, background-color, border-color, border-bottom-color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(0.33,0,0.3,1);
  transition-timing-function: cubic-bezier(0.33,0,0.3,1);
}

.underline-btn:hover:after, .underline-btn:focus:after {
  -webkit-animation: cta-underline-animation .2s both;
  animation: cta-underline-animation .2s both;
  -webkit-animation-timing-function: cubic-bezier(0.4,0,0.2,1);
  animation-timing-function: cubic-bezier(0.4,0,0.2,1);
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}

@keyframes cta-underline-animation {
  0% {
      visibility: hidden;
      transform: scaleX(0);
  }
  100% {
      visibility: visible;
      transform: scaleX(1);
  }
}

